<% content_for :breadcrumbs do %>
  <li><%= link_to 'Games', admin_games_path %> </li>
<% end %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Games" %>

  <div class="flex justify-between items-center mb-4">
    <h1 class="font-bold text-4xl">Games</h1>
    <%= link_to "New game", new_admin_game_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="games" class="min-w-full rounded-lg shadow overflow-hidden ring-black/10 ring-1">
    <div class='grid grid-cols-3 text-sm gap-px bg-slate-100 font-semibold'>
      <div class='col-span-2 px-4 py-2'>Title</div>
      <div class='px-4 py-2'>Questions</div>
    </div>
    <% @games.each do |game| %>
      <%= link_to [:admin, game] do %>
        <%= render game %>
      <% end %>
    <% end %>
  </div>
</div>
