<% content_for :breadcrumbs do %>
  <li><%= link_to 'Games', admin_games_path %> </li>
  <li><%= @game.title %></li>
<% end %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <p>
  <strong class="block font-medium mb-1">Questions:</strong>
  <% if @game.questions.empty? %>
    <em>No questions added yet</em>
  <% else %>
    <ol class='rounded shadow overflow-hidden bg-slate-100 grid grid-cols-1 gap-px ring-black/10 ring-1'>
      <%- @game.questions.each do | question | %>
        <li class='px-4 py-2 bg-white'><%= question.title %></li>
      <% end %>
        <li class='px-4 py-2 bg-white'><%= link_to '+ New question', new_admin_game_question_path(@game) %></li>
    </ol>
  <% end %>
  </p>

  <%= link_to "Edit this game", edit_admin_game_path(@game), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to games", admin_games_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <div class="inline-block ml-2">
    <%= button_to "Destroy this game", [:admin, @game], method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
  </div>
</div>
