<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Guess That Bridge" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class='min-h-screen bg-slate-100'>
      <nav class='p-2 border-b border-slate-200 flex justify-between items-center'>
        <ol>
          <li>Guess that Bridge</li>
        </ol>
        <%= button_to "Sign out", session_path, method: :delete, class: "px-4 py-2 text-sm rounded font-medium hover:bg-gray-50" %>
      </nav>
      <div class='p-2'>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
